/* CSS file --> index.html */
/* (1) Tag Selector */
body{
        background-image: url('150.png');
        background-attachment: fixed;  
        background-size: cover;
}
h1{
    text-align: center;
    font-family: cursive;
    /*background-color: #FCE38A;*/
}
h2{
    text-align: center;
    font-family: cursive;
    font-weight: normal;
    /*background-color: #EAFFD0;*/
}
h4{
    text-align: center;
    font-family: Aclonica;
    font-weight: normal;
}
table{
    width: 100%;
    text-align: center;
}
th{
    width: 33.33%; 
    vertical-align: top;
}
/* (2) Class Selector */
.p-Aboutme{
    font-weight: normal; 
    text-align: justify;
}
.p-Name{
    font-family: normal;
    font-weight: normal;
}
.p-head{
    font-family: medium;
}
.p-Footer{
    text-align: center;
}
.name{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
/* (3) Id Selector */
#th-Details{
    text-align: left;
    font-weight: bolder;
}
 
/* div */
.top-container{
    background-color: 	#6473e26e;
}
.under-BG{
    background-color: rgba(245, 245, 245, 0.466);
}
.table-menu td:hover{
    background-color: #006effce;
}
.table-menu {
    background-color: 	#659ff1;
}
.table-content h2{
    background-color:#6473e2;    
}
.table-content img:hover{
    background-color: rgb(17, 146, 233);
}